$border-color: $mid-grey;
$border-color-focus: $warm-grey;
$background-color: #FFF;

$error-color: $error;
$success-color: $success;

.inputField {
  margin-bottom: 0.5em;
}

.full {
  width: 100%;
}

.small {
  width: 50%;
  margin-right: 10px;
}

.small:last-child {
  margin-right: 0;
}

.label {
  cursor: pointer;
  display: block;
  margin-bottom: 4px;
}

.textInput {
  -webkit-appearance: textfield;
  border-radius: 2px;
  border: 1px solid $border-color;
  background-color: $background-color;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 8px 11px;
  height: 42px; /* hardcoded height to make sure all inputs (including selects) have same height */
  vertical-align: baseline;
  font-weight: 300;

  box-sizing: border-box;
  width: 100%;
}

.textInput:active,
.textInput:focus {
  border-color: $border-color-focus;
  outline: none;
}

.textInput.error {
  border-color: $error-color;
}

.textInput.success {
  border-color: $success-color;
}

.label.error {
  color: $error-color;
}

.label.success {
  color: $success-color;
}

.errorMsg {
  font-size: 14px;
  margin: 2px 0;
  color: $error-color;
  display: none;
}

.errorMsg.error {
  display: block;
}

.errorMsg a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  transition: border-color .2s;
}

.errorMsg a:focus {
  outline: thin dotted $mid-grey;
}

.errorMsg a:hover {
  border-bottom-color: $mid-grey;
  cursor: pointer;
}

.errorMsg a:visited {
  color: $dark-grey;
}

.disabled {
  cursor: not-allowed;
  opacity: .5;
}

.disabled .label,
.disabled .textInput {
  cursor: not-allowed;
}
