.container {
  display: inline-block;
}

.link {
  display: inline-block;
}

.link::after {
  content: "|";
}

.link:last-child::after {
  content: "";
}

.link * {
  display: inline-block;
  margin: 0 3px;
  padding: 0 3px;
  text-transform: capitalize;
}

a {
  cursor: pointer;
}
