.strip {
  background-color: $light-grey;
  padding: 2rem;
}

.helpWrapper {
  margin-bottom: 1.3rem;
}

.helpWrapper:last-child {
  margin-bottom: 0;
}

.cli {
  font-family: "Ubuntu Mono", monospace;
  line-height:1.5;
  display:inline-block;
  border-radius:2px;
  border: 1px solid $dark-grey;
  padding:16px;
  color: $cool-grey;
  background-color: $light-grey;
  margin-bottom: 1rem;
}

.external {
  background: url($icon-link-external) 100% 0 no-repeat;
  background-size: 0.7em;
  padding-right: 0.9em;
}
