.listIcon li {
  padding: 8px 0 8px 32px;
  list-style: none;
  background-image: url('https://assets.ubuntu.com/v1/90067499-green-tick.svg');
  background-repeat: no-repeat;
  background-position: 0 13px;
}
