.heading {
  margin-bottom: 0;
}

.selectRepositoriesBox {
  border: 1px solid $mid-grey;
  border-radius: 2px;
}

.selectRepositoriesHeading {
  padding: 1rem;
}

.selectRepositoriesBox {
  border: 1px solid $mid-grey;
  border-radius: 2px;
}

.selectRepositoriesHeading {
  padding: 1rem;
}
