.popover {
  border-radius: 5px;
  background: #FFF;
  padding: 10px;
  box-shadow: 0 1px 5px 1px rgba(51,51,51,0.2);
  position: absolute;
  z-index: 100;

  width: 400px;
  margin-left: -200px;
  margin-top: 10px;

  font-size: 13px;
}

.popover::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -6px; /* based on the fact it was rotated 45 deg) */
  top: 0;
  left: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 4px;
  border-color: #FFF #FFF transparent transparent;

  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: 2px -2px 2px 0 rgba(51, 51, 51, 0.1);
}
