.snapName {
  width: 100%;
  height: 24px;
}

.helpText {
  font-size: .875rem;
  color: $warm-grey;
}

.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  border-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  text-indent: 999em;
}

.tickIcon {
  background: url(https://assets.ubuntu.com/v1/6c395e6d-green-tick.svg) no-repeat;
  background-size: 100% 100%;
}

.buttonRow {
  padding: 16px;
  text-align: right;
}

.cancel {
  margin:0 2em;
}

.external {
  background: url($icon-link-external) 100% 0 no-repeat;
  background-size: 0.7em;
  padding-right: 0.9em;
}
