$primary-button-color: $ubuntu-orange;
$primary-button-color-hover: #d44615;
$primary-button-text-color: #FFF;

$secondary-button-color: #FFF;
$secondary-button-color-hover: #EFEFEF;
$secondary-button-text-color: $ubuntu-orange;
$secondary-border-color: $mid-grey;

$positive-button-color: $success;
$positive-button-color-hover: #0a5615;
$positive-button-text-color: #FFF;
$positive-border-color: $success;

$negative-button-color: $error;
$negative-button-color-hover: #8f2018;
$negative-button-text-color: #FFF;
$negative-border-color: $error;

$neutral-button-color: #FFF;
$neutral-button-color-hover: rgba(0, 0, 0, 0.1);
$neutral-button-text-color: $dark-grey;
$neutral-border-color: $dark-grey;

.button {
  font-family: $base-font-family;
  font-smoothing: subpixel-antialiased;
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  padding: 6px 19px;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  outline: none;
  font-weight: 300;
  cursor: pointer;
}

.button:active,
.button:focus,
.button:hover {
  text-decoration: none;
}

.primary {
  composes: button;

  color: $primary-button-text-color;
  background-color: $primary-button-color;
}

.primary:active,
.primary:focus,
.primary:hover {
  background-color: $primary-button-color-hover;
}

.secondary {
  composes: button;

  color: $secondary-button-text-color;
  background-color: $secondary-button-color;
  border: 1px solid $secondary-border-color;
}

.secondary:active,
.secondary:focus,
.secondary:hover {
  background-color: $secondary-button-color-hover;
}

.positive {
  composes: button;

  color: $positive-button-text-color;
  background-color: $positive-button-color;
  border: 1px solid $positive-border-color;
}

.positive:active,
.positive:focus,
.positive:hover {
  background-color: $positive-button-color-hover;
}

.negative {
  composes: button;

  color: $negative-button-text-color;
  background-color: $negative-button-color;
  border: 1px solid $negative-border-color;
}

.negative:active,
.negative:focus,
.negative:hover {
  background-color: $negative-button-color-hover;
}

.neutral {
  composes: button;

  color: $neutral-button-text-color;
  background-color: $neutral-button-color;
  border: 1px solid $neutral-border-color;
}

.neutral:active,
.neutral:focus,
.neutral:hover {
  background-color: $neutral-button-color-hover;
}

.button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.primary:disabled:hover {
  background-color: $primary-button-color;
}

.secondary:disabled:hover {
  background-color: $secondary-button-color;
}

.icon {
  display: block;
  margin: 0;
  padding: 1px 0 0 0;
  margin-left: 1em;
  height: 32px;
  float: right;
  box-sizing: content-box;
}

.spinner {
  display: block;
  margin: 0;
  padding: 1px 0 0 0;
  margin-right: 0.5em;
  height: 21px;
  width: 21px;
  float: left;
  box-sizing: content-box;
}

.bigger {
  margin-top: 2.4em;
  padding: .5em 1.5em;
  font-size: 1.5em;
}

.smaller {
  padding: 6px 12px;
  font-size: 13px;
}
