$text-color: $cool-grey;
$base-button-color-hover: $mid-grey;

$positive-button-color: $success;
$positive-button-color-hover: #0a5615;
$positive-button-text-color: #FFF;
$positive-border-color: $success;

$negative-button-color: $error;
$negative-button-color-hover: #8f2018;
$negative-button-text-color: #FFF;
$negative-border-color: $error;

$neutral-button-color: #FFF;
$neutral-button-color-hover: rgba(0, 0, 0, 0.1);
$neutral-button-text-color: $dark-grey;
$neutral-border-color: $dark-grey;

.button {
  font-family: $base-font-family;
  font-smoothing: subpixel-antialiased;
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  padding: 6px 19px;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  font-weight: 300;
  cursor: pointer;
  background-color: transparent;
  color: $text-color;
  margin-right: 10px;
}

.button:last-child {
  margin-right: 0;
}

.button:active,
.button:focus,
.button:hover {
  text-decoration: none;
}

.base {
  composes: button;
}

.base:active,
.base:focus,
.base:hover {
  background-color: $base-button-color-hover;
  border-color: $base-button-color-hover;
}

.positive {
  composes: button;

  color: $positive-button-text-color;
  background-color: $positive-button-color;
  border-color: $positive-border-color;
}

.positive:active,
.positive:focus,
.positive:hover {
  background-color: $positive-button-color-hover;
  border-color: $positive-button-color-hover;
}

.negative {
  composes: button;

  color: $negative-button-text-color;
  background-color: $negative-button-color;
  border-color: $negative-border-color;
}

.negative:active,
.negative:focus,
.negative:hover {
  background-color: $negative-button-color-hover;
}

.neutral {
  composes: button;

  color: $neutral-button-text-color;
  background-color: $neutral-button-color;
  border-color: $neutral-border-color;
}

.neutral:active,
.neutral:focus,
.neutral:hover {
  background-color: $neutral-button-color-hover;
}

.button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.icon {
  display: block;
  margin: 0;
  padding: 1px 0 0 0;
  margin-left: 1em;
  height: 32px;
  float: right;
  box-sizing: content-box;
}

.hasSpinner {
  position: relative;
}

.hasSpinner .text {
  /* hide text without chaning button width */
  opacity: 0;
}

.spinner {
  position: absolute;
  height: 20px;
  width: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.bigger {
  margin-top: 2.4em;
  padding: .5em 1.5em;
  font-size: 1.5em;
}

.smaller {
  padding: 6px 12px;
  font-size: 13px;
}
