$signal-colour-default: $light-grey;

.trafficlight {
  display: flex;
  margin:1rem auto;
}

.signal {
  background: $signal-colour-default;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  height: 32px;
  margin-bottom: .625rem;
  text-align: center;
  width: 32px;
  line-height:1.286;
  position: relative;
  z-index:10;
  border: 2px solid $signal-colour-default;
}

.signal::before {
  content: "\0000a0"
}

.signal::after {
  content: '';
  display: block;
  height: 4px;
  width: 320px;
  background: $signal-colour-default;
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: -1;
  margin-top: -2px;
}

.active {
  background: #fff;
  border: 2px solid $success;
  color: $signal-colour-default;
}

.done {
  background: $success url(./white-tick.svg) 50% 50% no-repeat;
  background-size: 60%;
  border: 2px solid $success;
}

.done::after {
  background: $success;
}

.box:last-child .signal::after {
  background: #FFF; /* cover any line overflowing from previous signals */
}

.box {
  flex: 1;
  text-align: center;
}
