$signal-colour-default: $light-grey;

.trafficlight {
  display: flex;
  width:80%;
  margin:1rem auto;
}

.signal {
  background: $signal-colour-default;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  height: 32px;
  margin-bottom: .625rem;
  text-align: center;
  width: 32px;
  line-height:1.286;
  position: relative;
  z-index:10;
}

.signal::after {
  content:'';
  display: block;
  height: 4px;
  width: 850%;
  background: $signal-colour-default;
  position: absolute;
  top:50%;
  left:106%;
  z-index:-1;
  margin-top:-2px;
}

.active {
  background: #fff;
  border: 2px solid $success;
  color: $signal-colour-default;
}

.done::before {
  content: "\0000a0";
}

.done {
  background: $success url(./white-tick.svg) 50% 50% no-repeat;
  background-size: 60%;
  border: 2px solid $success;
}

.done::after {
  background: $success;
}

.box:last-child .signal::after {
  display:none;
}

.box {
  flex: 1;
  text-align: center;
}
