$border-color: #e3e3e3;

/* html and body styles needed for footer positioning */
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 75px;
}

.footer {
  background-color: #fff;
  border-top: 1px solid $border-color;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  font-size: 12px;
  padding: 10px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

.copyright {
  margin-bottom: 0.3em;
}
