$border-color: #e3e3e3;

/* html and body styles needed for footer positioning */
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 135px;
}

.footer {
  background-color: #fff;
  border-top: 1px solid $border-color;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  font-size: 12px;
  padding: 2em 1em 1em;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

.copyright {
  margin-bottom: 1em;
}

.social {
  float: right;
}

.heading {
  color: $warm-grey;
  font-size: 1em;
  letter-spacing: .05em;
  margin-bottom: 0;
  padding-bottom: .75em;
  text-transform: uppercase;
}

.socialList {
  overflow: hidden;
  clear: both;
}

.socialListItem {
  margin-right: 20px;
  float: left;
}

.socialListItemTwitter,
.socialListItemGoogle,
.socialListItemFacebook {
  text-indent: -99999px;
  background-image: url(./icon-social.svg);
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
  overflow: hidden;
  display: inline-block;
}

.socialListItemGoogle {
  background-position: -45px 0;
}

.socialListItemFacebook {
  background-position: -90px 0;
}

.socialListItemTwitter:hover,
.socialListItemGoogle:hover,
.socialListItemFacebook:hover {
  background-position-y: -45px;
}

.note {
  margin-top: 1em;
  width: 50%;
  color: $warm-grey;
  font-size: .813em;
}
