.hasSpinner {
  position: relative;
}

.hasSpinner .text {
  /* hide text without chaning button width */
  opacity: 0;
}

.spinner {
  position: absolute;
  height: 20px;
  width: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.bigger {
  margin-top: 2.4em;
  padding: .5em 1.5em;
  font-size: 1.5em;
}
