.hasSpinner {
  position: relative;
}

.hasSpinner .text {
  /* hide text without chaning button width */
  opacity: 0;
  position: absolute;
}

.hasSpinner .icon {
  height: 13px;
  top: -1px;
  vertical-align: middle;
}

.bigger {
  margin-top: 2.4em;
  padding: .5em 1.5em;
  font-size: 1.5em;
}
