.hasSpinner {
  position: relative;
}

.hasSpinner .text {
  /* hide text without chaning button width */
  opacity: 0;
}

.hasSpinner .icon {
  left: calc(50% - 8px);
  position: absolute;
}

.bigger {
  margin-top: 2.4em;
  padding: .5em 1.5em;
  font-size: 1.5em;
}

/* Vanilla introduced some bottom margins on buttons that break layouts here */
.noMarginBottom {
  margin-bottom: 0 !important;
}
