@import 'vanilla-framework/scss/patterns_footer.scss';
@include vf-p-footer;

// for external links
@import 'vanilla-framework/scss/patterns_links.scss';
@include vf-p-links;

// CUSTOM OVERRIDES

@import 'vanilla-framework/scss/_patterns_icons.scss';
@include vf-p-icons;

@import 'vanilla-framework/scss/_utilities_clearfix.scss';
@import 'vanilla-framework/scss/patterns_grid.scss';
@import 'vanilla-framework/scss/patterns_lists.scss';
@include vf-p-lists;

.p-inline-list--compact {
  @extend .p-inline-list;
  margin-top: $sp-medium;
}

.p-sticky-footer {
  margin-top: auto;
}

/* for sticky footer to work */
html,
body,
.content {
  height: 100%;
}

.hasStickyFooter {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@import 'vanilla-framework/scss/_base_vertical-spacing.scss';
.p-footer {
  // not to include whole strip pattern
  background-color: $color-light;
  border-top: none;
  font-size: 1rem;
  padding-bottom: $sp-xx-large;

  p {
    max-width: 100%;
  }

  // vanilla 1.7 compatibility
  small {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: .7rem;
    padding-top: 0.05rem;
  }

  // make sure default vanilla vertical spacing works in footer
  @include vf-b-vertical-spacing;

  // snapcraft custom social icons
  %p-social-icon {
    background-image: url('#{$assets-path}6bfc3d6a-build.snapcraft.social.optimize.svg');
    background-repeat: no-repeat;
    background-size: 160px 80px; // 2x4 icons 40x40px each (in 2 rows for regular and hover state)
    display: inline-block;
    height: 40px;
    overflow: hidden;
    text-indent: -99999px;
    width: 40px;

    &:hover {
      background-position-y: -40px;
    }
  }

  .p-social-icon--twitter {
    @extend %p-social-icon;
    background-position: 0 0;
  }

  .p-social-icon--facebook {
    @extend %p-social-icon;
    background-position: -80px 0;
  }

  .p-social-icon--youtube {
    @extend %p-social-icon;
    background-position: -120px 0;
  }

  // snapcraft custom footer styles
  .p-icon--top {
    @extend %icon;
    background-image: url('#{$assets-path}9ec2c354-icon-arrow-up.svg');
    background-size: 12px 12px;
    margin-left: $sp-x-small;
  }

}
