// for u-align--right
@import 'vanilla-framework/scss/_utilities_content-align.scss';
@include vf-u-align;

// for external links
@import 'vanilla-framework/scss/patterns_links.scss';
@include vf-p-links;

// for p-strip--light
@import 'vanilla-framework/scss/patterns_strip.scss';
@include vf-p-strip;

// make social icons match footer p-strip--light color
$color-social-icon-foreground: $color-light;

// for social icons
@import 'vanilla-framework/scss/_base_placeholders.scss';
@import 'vanilla-framework/scss/_patterns_icons.scss';
@include vf-p-icons;

// for grid classes (also required by lists)
@import 'vanilla-framework/scss/_utilities_clearfix.scss';
@import 'vanilla-framework/scss/patterns_grid.scss';
@include vf-p-grid;

// for p-inline-list
@import 'vanilla-framework/scss/patterns_lists.scss';
@include vf-p-lists;

// minimal base typography styles
@import 'vanilla-framework/scss/_base_typography-definitions.scss';
@import 'vanilla-framework/scss/_base_typography-max-widths.scss';
@include vf-b-typography-max-widths;
@include vf-b-typography-definitions;

p {
  @extend %paragraph;
}
small {
  @extend %small-text;
}

// custom sticky footer code

.p-sticky-footer {
  margin-top: auto;
}

/* for sticky footer to work */
html,
body {
  min-height: 100vh;
}

body,
.hasStickyFooter {
  display: flex;
  flex-direction: column;
}

.hasStickyFooter {
  flex-grow: 1;
}

// custom icon
.p-icon--top {
  @extend %icon;
  background-image: url('#{$assets-path}9ec2c354-icon-arrow-up.svg');
  background-size: 12px 12px;
  margin-left: $sp-x-small;
}
