@import 'vanilla-framework/scss/_utilities_clearfix.scss';
@import 'vanilla-framework/scss/_base_typography.scss';

$color-navigation-background: #252525;

// for external links in navigation
@import 'vanilla-framework/scss/patterns_links.scss';
@include vf-p-links;

@import 'vanilla-framework/scss/patterns_navigation.scss';
@include vf-p-navigation;

// CUSTOM OVERRIDES

.p-navigation {
  $navigation-border-color: lighten($color-navigation-background, 20%);
  $navigation-hover-color: darken($color-navigation-background, 8%); // from #252525 to #111

  .p-navigation__image {
    display: block;
  }

    .p-navigation__links {
      // custom hover styles
      @media (min-width: $breakpoint-navigation-threshold + 1) {
      .p-navigation__link {
        border-left: 1px solid $navigation-border-color;

        a:hover,
        .is-selected {
          background: $navigation-hover-color;
        }

        &:last-of-type {
          border-right: 1px solid $navigation-border-color;
        }

      }
    }


    // custom navigation non-link item for user name
    .p-navigation__item {
      @extend .p-navigation__link;
      border-left: none;
      display: none;

      // only show user name in navigation when there is space for it
      @media (min-width: 920px) {
        display: block;
      }

      a:hover {
        background: transparent;
      }
    }
  }


  // right aligned sign-in navigation
  .p-navigation__links--right {
    @extend .p-navigation__links;

    &:last-of-type {
      border-right: none;
    }
  }

  @media (min-width: $breakpoint-navigation-threshold + 1) {
    .p-navigation__links--right {
      margin-left: auto; // alight to right in flexbox parent
    }
  }
}
