$color-navigation-background: #333;
$color-navigation-border: $color-navigation-background;

// for external links in navigation
@import 'vanilla-framework/scss/patterns_links.scss';
@include vf-p-links;

@import 'vanilla-framework/scss/patterns_navigation.scss';
@include vf-p-navigation;

@import 'vanilla-framework/scss/base_placeholders.scss'; // for hide text
@import 'vanilla-framework/scss/patterns_icons.scss'; // for chevron icon
@import 'vanilla-framework/scss/patterns_subnav.scss';
@include vf-p-subnav;

// CUSTOM OVERRIDES
// based on _snapcraft_p-navigation.scss in snapcraft.io project

// https://github.com/canonical-web-and-design/vanilla-framework/issues/2480
.p-navigation__links:last-child {
  margin-right: $grid-margin-width;

  // https://github.com/canonical-web-and-design/vanilla-framework/issues/2479
  .p-subnav__items {
    right: 0;
  }
}

// https://github.com/canonical-web-and-design/vanilla-framework/issues/2478
.p-subnav__items {
  border-color: $color-navigation-border;
}
