$table-border-color: $dark-grey;
$table-header-color: $dark-grey;
$table-row-border-color: $mid-grey;
$table-dropdown-background: $light-grey;

.table {
  display: table;
  border-color: $table-border-color;
  border-spacing: 0;
  margin: 0 0 2rem;
  width: 100%;
  text-align: left;
  border-collapse: separate;
}

.cell {
  box-sizing: border-box;
  padding: 20px 10px;
  box-sizing: border-box;
  min-height: 21px;
  background: none;
  border: 0;
  text-align: left;
  border-collapse: separate;
  vertical-align: top;
  backface-visibility: hidden;
  position: relative;
  border: 1px solid transparent;
  border-width: 0 1px 0 1px;
}

.cell.centered {
  text-align: center;
}

.data {
  font-weight: 300;
  text-align: left;
  vertical-align: middle;
}

.header, .data {
  composes: cell;
  display: table-cell;
  float: left;
}

.dataLink {
  composes: data;
  color: $cool-grey;
}

a.dataLink:hover,
a.dataLink:focus,
a.dataLink.active {
  color: $link-blue;
}

.header {
  padding: 10px;
}

.head {
  display: table-header-group;
  width: 100%;
}

.head .header {
  background: none;
  color: $table-header-color;
  font-size: 13px;
  display: table-cell;
}

.expandable {
  background-image: url(https://assets.ubuntu.com/v1/04d2075a-chevron-down.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.expandable:hover,
.expandable.active {
  background-color: $table-dropdown-background;
  border-color: $table-row-border-color;
  text-decoration: none;
}

.expandable.active {
  background-image: url(https://assets.ubuntu.com/v1/f3f43376-chevron-up.svg);
}

/* assuming centered cell contains icon only, so shouldn't have the arrow */
.expandable.centered {
  background-image: none;
}

/* hide border between dropdown and cell that opened it */
.expandable.active::after {
  content: ' ';
  position: absolute;
  width: 100%;
  border: 1px solid $table-dropdown-background;
  bottom: -1px;
  left: 0;
  right: 0;
}

.row {
  display: table-row;
  float: left;
  width: 100%;
  border-color: $table-row-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.row.active {
  background: #FFF;
}

.head .row {
  border-bottom: 1px solid $table-header-color;
}

.body {
  display: table-row-group;
  width: 100%;
  float: left;
}

.dropdown {
  width: 100%;

  display: table;
  background: $table-dropdown-background;
  border: 1px solid $table-row-border-color;
  border-width: 1px 1px 0 1px;
}

.dropdown .row {
  position: relative;
  border: 0;
}
