.p-list::after, .p-stepped-list::after {
  clear: both;
  content: '';
  display: block; }

.row, .p-stepped-list--detailed .p-stepped-list__item {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  width: 100%; }
  @media (max-width: 620px) {
    .row, .p-stepped-list--detailed .p-stepped-list__item {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 620px) and (max-width: 772px) {
    .row, .p-stepped-list--detailed .p-stepped-list__item {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media (min-width: 772px) {
    .row, .p-stepped-list--detailed .p-stepped-list__item {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }

@media (max-width: 620px) {
  .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    grid-column: 1/span 4; } }

@media (min-width: 620px) and (max-width: 772px) {
  .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    grid-column: 1/span 6; } }

@media (min-width: 772px) {
  .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6 {
    grid-column: 1/span 12; } }

.grid-demo [class*='col-'] {
  background: rgba(199, 22, 43, 0.1);
  margin-bottom: 0.5rem; }

.col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  display: block; }

.row, .p-stepped-list--detailed .p-stepped-list__item {
  display: grid;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem; }
  .row [class*='col-'], .p-stepped-list--detailed .p-stepped-list__item [class*='col-'] {
    grid-column-start: auto; }
  .row .row, .p-stepped-list--detailed .p-stepped-list__item .row, .row .p-stepped-list--detailed .p-stepped-list__item, .p-stepped-list--detailed .row .p-stepped-list__item, .p-stepped-list--detailed .p-stepped-list__item .p-stepped-list__item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  @media (max-width: 620px) {
    .row, .p-stepped-list--detailed .p-stepped-list__item {
      grid-gap: 0 1.5rem;
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
      .row > *, .p-stepped-list--detailed .p-stepped-list__item > * {
        grid-column-end: span 4; } }
  @media (min-width: 620px) and (max-width: 772px) {
    .row, .p-stepped-list--detailed .p-stepped-list__item {
      grid-gap: 0 2rem;
      grid-template-columns: repeat(6, minmax(0, 1fr)); }
      .row > *, .p-stepped-list--detailed .p-stepped-list__item > * {
        grid-column-end: span 6; } }
  @media (min-width: 772px) {
    .row, .p-stepped-list--detailed .p-stepped-list__item {
      grid-gap: 0 2rem;
      grid-template-columns: repeat(12, minmax(0, 1fr)); }
      .row > *, .p-stepped-list--detailed .p-stepped-list__item > * {
        grid-column-end: span 12; } }

@media (max-width: 620px) {
  .col-small-4 {
    grid-column-end: span 4; }
    .col-small-4 .row {
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .col-small-3 {
    grid-column-end: span 3; }
    .col-small-3 .row {
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .col-small-2 {
    grid-column-end: span 2; }
    .col-small-2 .row {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .col-small-1 {
    grid-column-end: span 1; } }

@media (min-width: 620px) and (max-width: 772px) {
  .col-medium-6 {
    grid-column-end: span 6; }
    .col-medium-6 .row {
      grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .col-medium-5 {
    grid-column-end: span 5; }
    .col-medium-5 .row {
      grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .col-medium-4 {
    grid-column-end: span 4; }
    .col-medium-4 .row {
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .col-medium-3 {
    grid-column-end: span 3; }
    .col-medium-3 .row {
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .col-medium-2 {
    grid-column-end: span 2; }
    .col-medium-2 .row {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .col-medium-1 {
    grid-column-end: span 1; } }

@media (min-width: 772px) {
  .col-12 {
    grid-column-end: span 12; }
    .col-12 .row {
      grid-template-columns: repeat(12, minmax(0, 1fr)); }
  .col-11 {
    grid-column-end: span 11; }
    .col-11 .row {
      grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .col-10 {
    grid-column-end: span 10; }
    .col-10 .row {
      grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .col-9 {
    grid-column-end: span 9; }
    .col-9 .row {
      grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .col-8 {
    grid-column-end: span 8; }
    .col-8 .row {
      grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .col-7 {
    grid-column-end: span 7; }
    .col-7 .row {
      grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .col-6 {
    grid-column-end: span 6; }
    .col-6 .row {
      grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .col-5 {
    grid-column-end: span 5; }
    .col-5 .row {
      grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .col-4 {
    grid-column-end: span 4; }
    .col-4 .row {
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .col-3 {
    grid-column-end: span 3; }
    .col-3 .row {
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .col-2 {
    grid-column-end: span 2; }
    .col-2 .row {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .col-1 {
    grid-column-end: span 1; } }

@media (max-width: 620px) {
  .row [class*='col-'].col-start-small-1 {
    grid-column-start: 1; }
  .col-order-small-1 {
    order: 1; }
  .row [class*='col-'].col-start-small-2 {
    grid-column-start: 2; }
  .col-order-small-2 {
    order: 2; }
  .row [class*='col-'].col-start-small-3 {
    grid-column-start: 3; }
  .col-order-small-3 {
    order: 3; } }

@media (min-width: 620px) and (max-width: 772px) {
  .row [class*='col-'].col-start-medium-1 {
    grid-column-start: 1; }
  .col-order-medium-1 {
    order: 1; }
  .row [class*='col-'].col-start-medium-2 {
    grid-column-start: 2; }
  .col-order-medium-2 {
    order: 2; }
  .row [class*='col-'].col-start-medium-3 {
    grid-column-start: 3; }
  .col-order-medium-3 {
    order: 3; }
  .row [class*='col-'].col-start-medium-4 {
    grid-column-start: 4; }
  .col-order-medium-4 {
    order: 4; }
  .row [class*='col-'].col-start-medium-5 {
    grid-column-start: 5; }
  .col-order-medium-5 {
    order: 5; } }

@media (min-width: 772px) {
  .row [class*='col-'].col-start-large-1 {
    grid-column-start: 1; }
  .col-order-large-1 {
    order: 1; }
  .row [class*='col-'].col-start-large-2 {
    grid-column-start: 2; }
  .col-order-large-2 {
    order: 2; }
  .row [class*='col-'].col-start-large-3 {
    grid-column-start: 3; }
  .col-order-large-3 {
    order: 3; }
  .row [class*='col-'].col-start-large-4 {
    grid-column-start: 4; }
  .col-order-large-4 {
    order: 4; }
  .row [class*='col-'].col-start-large-5 {
    grid-column-start: 5; }
  .col-order-large-5 {
    order: 5; }
  .row [class*='col-'].col-start-large-6 {
    grid-column-start: 6; }
  .col-order-large-6 {
    order: 6; }
  .row [class*='col-'].col-start-large-7 {
    grid-column-start: 7; }
  .col-order-large-7 {
    order: 7; }
  .row [class*='col-'].col-start-large-8 {
    grid-column-start: 8; }
  .col-order-large-8 {
    order: 8; }
  .row [class*='col-'].col-start-large-9 {
    grid-column-start: 9; }
  .col-order-large-9 {
    order: 9; }
  .row [class*='col-'].col-start-large-10 {
    grid-column-start: 10; }
  .col-order-large-10 {
    order: 10; }
  .row [class*='col-'].col-start-large-11 {
    grid-column-start: 11; }
  .col-order-large-11 {
    order: 11; } }

.p-stepped-list, .p-stepped-list--detailed {
  counter-reset: li;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0; }

.p-stepped-list__title {
  display: flex; }
  .p-stepped-list__title::before {
    align-self: start;
    background-color: #e5e5e5;
    border-radius: 100%;
    content: counter(li);
    counter-increment: li;
    direction: rtl;
    display: block;
    text-align: center; }

h6.p-stepped-list__title::before {
  flex-shrink: 0;
  margin-right: 1rem; }
  @media (max-width: 772px) {
    h6.p-stepped-list__title::before {
      width: 1.5rem; } }
  @media (min-width: 772px) {
    h6.p-stepped-list__title::before {
      width: 1.5rem; } }

h5.p-stepped-list__title::before {
  flex-shrink: 0;
  margin-right: 1rem; }
  @media (max-width: 772px) {
    h5.p-stepped-list__title::before {
      width: 1.5rem; } }
  @media (min-width: 772px) {
    h5.p-stepped-list__title::before {
      width: 1.5rem; } }

h4.p-stepped-list__title::before {
  flex-shrink: 0;
  margin-right: 1rem; }
  @media (max-width: 772px) {
    h4.p-stepped-list__title::before {
      width: 1.5rem; } }
  @media (min-width: 772px) {
    h4.p-stepped-list__title::before {
      width: 2rem; } }

h3.p-stepped-list__title::before {
  flex-shrink: 0;
  margin-right: 1rem; }
  @media (max-width: 772px) {
    h3.p-stepped-list__title::before {
      width: 2rem; } }
  @media (min-width: 772px) {
    h3.p-stepped-list__title::before {
      width: 2.5rem; } }

h2.p-stepped-list__title::before {
  flex-shrink: 0;
  margin-right: 1rem; }
  @media (max-width: 772px) {
    h2.p-stepped-list__title::before {
      width: 2.5rem; } }
  @media (min-width: 772px) {
    h2.p-stepped-list__title::before {
      width: 3rem; } }

h1.p-stepped-list__title::before {
  flex-shrink: 0;
  margin-right: 1rem; }
  @media (max-width: 772px) {
    h1.p-stepped-list__title::before {
      width: 3rem; } }
  @media (min-width: 772px) {
    h1.p-stepped-list__title::before {
      width: 3.5rem; } }

.p-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .p-list .p-list__item {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem; }
    form .p-list .p-list__item {
      padding-bottom: 0;
      padding-top: 0; }
      form .p-list .p-list__item label {
        margin-bottom: 0.1rem; }

.p-list--divided {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .p-list--divided .p-list__item {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem; }
    form .p-list--divided .p-list__item {
      padding-bottom: 0;
      padding-top: 0; }
      form .p-list--divided .p-list__item label {
        margin-bottom: 0.1rem; }
  .p-list--divided .p-list__item {
    position: relative; }
    .p-list--divided .p-list__item::after {
      border-bottom: 1px solid #cdcdcd;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0; }
    .p-list--divided .p-list__item:last-of-type::after,
    .p-list--divided .p-list__item .last-item::after {
      border-bottom: 0; }
  .p-list--divided.is-split .p-list__item:last-of-type {
    border-bottom: 1px solid #cdcdcd; }

.is-ticked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Ccircle fill='%23333' cx='7' cy='7' r='7'/%3E%3Cpath fill='%23fff' d='M6.1 10.813L2.41 8.105l1.184-1.613L5.9 8.187l4.393-4.394 1.414 1.414z' /%3E%3C/svg%3E");
  background-position-y: 0.65rem;
  background-repeat: no-repeat;
  background-size: 0.875rem;
  padding-left: 2rem; }

.p-inline-list {
  margin-left: 0;
  padding-left: 0; }

.p-inline-list__item {
  display: inline;
  list-style: none;
  margin-right: 1.25rem; }
  .p-inline-list__item:last-of-type,
  .p-inline-list__item .last-item {
    margin-right: 0; }

.p-inline-list--middot {
  margin-left: 0;
  padding-left: 0; }
  .p-inline-list--middot .p-inline-list__item {
    display: inline;
    list-style: none;
    margin-right: 1.25rem;
    margin-right: 1.25em;
    position: relative; }
    .p-inline-list--middot .p-inline-list__item:last-of-type,
    .p-inline-list--middot .p-inline-list__item .last-item {
      margin-right: 0; }
    .p-inline-list--middot .p-inline-list__item::after {
      color: #666;
      content: '\00b7';
      font-size: 1.4em;
      line-height: 0;
      position: absolute;
      right: -0.5em;
      top: 0.4em; }
    .p-inline-list--middot .p-inline-list__item:hover::after {
      color: #666; }
    .p-inline-list--middot .p-inline-list__item:last-of-type::after,
    .p-inline-list--middot .p-inline-list__item .last-item::after {
      content: ''; }

.p-stepped-list {
  margin-bottom: 0; }

.p-stepped-list__item {
  float: none;
  margin-left: 0;
  overflow: visible;
  padding-bottom: 1.5rem;
  position: relative;
  width: 100%; }

.p-stepped-list__bullet {
  display: none; }

.p-stepped-list--detailed {
  margin-left: auto; }
  @media (min-width: 772px) {
    .p-stepped-list--detailed .p-stepped-list__content {
      grid-column-end: span 6;
      margin-top: 0; } }
  .p-stepped-list--detailed .p-stepped-list__title {
    display: flex;
    grid-column-end: span 6;
    margin-left: 0; }
  .row .p-stepped-list--detailed .p-stepped-list__item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }

@media (min-width: 772px) {
  @supports (-webkit-columns: 1) or (columns: 1) {
    [class*='p-list'].is-split {
      column-gap: 2rem;
      columns: 2; }
      [class*='p-list'].is-split .p-list__item {
        display: inline-block;
        width: 100%; } }
  @supports not ((-webkit-columns: 1) or (columns: 1)) {
    [class*='p-list'].is-split {
      display: flex;
      flex-wrap: wrap; }
      [class*='p-list'].is-split .p-list__item {
        width: calc(50% - 0.5rem); } }
  [class*='p-list'].is-split:nth-child(2n-1) {
    margin-right: 1rem; } }
