.p-link--soft {
  color: #111; }
  .p-link--soft:visited {
    color: #111;
    text-decoration: none; }
  .p-link--soft:hover {
    color: #007aa6; }
  .p-link--soft.is-selected {
    font-weight: 400; }

.p-link--inverted {
  color: #f7f7f7;
  font-weight: 400; }
  .p-link--inverted:hover {
    color: #f7f7f7; }
  .p-link--inverted:visited {
    color: #dedede; }

@supports (mask-size: 1em) or (-webkit-mask-size: 1em) {
  .p-link--external::after {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0/cover;
    background-color: currentColor;
    content: '';
    margin: 0 0 0 0.25em;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0/cover;
    padding-right: 0.75em; } }

@supports not ((mask-size: 1em) or (-webkit-mask-size: 1em)) {
  .p-link--external {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23007aa6' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23007aa6' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23007aa6' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 0.75em;
    margin-top: -0.25em;
    padding: 0.25em 1em 0 0; }
    .p-link--external.p-link--soft, .p-link--external.sidebar__link {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E"); }
    .p-link--external.p-link--soft:hover, .p-link--external.sidebar__link:hover {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23007aa6' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23007aa6' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23007aa6' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E"); }
    .p-link--external.p-link--inverted {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23f7f7f7' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23f7f7f7' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23f7f7f7' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E"); }
      .p-link--external.p-link--inverted:visited {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23dedede' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23dedede' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23dedede' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E"); }
    .p-link--external.sidebar__link {
      display: inline-block;
      padding: 0 1em 1em 0; }
  .p-button .p-link--external,
  .p-button--neutral .p-link--external,
  .p-button--base .p-link--external {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
    padding-top: 0; }
  .p-button--positive .p-link--external {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23fff' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
    padding-top: 0; }
  .p-button--negative .p-link--external {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23fff' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
    padding-top: 0; }
  .p-button--brand .p-link--external {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23fff' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
    padding-top: 0; }
  .p-strip--dark * .p-link--external.p-link--soft,
  .p-strip--accent * .p-link--external.p-link--soft,
  .p-strip--image.is-dark * .p-link--external.p-link--soft {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23fff' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23fff' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E"); }
    .p-strip--dark * .p-link--external.p-link--soft:hover,
    .p-strip--accent * .p-link--external.p-link--soft:hover,
    .p-strip--image.is-dark * .p-link--external.p-link--soft:hover {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23007aa6' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23007aa6' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23007aa6' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E"); } }

.p-top {
  border-bottom: 1px dotted #cdcdcd;
  clear: both;
  margin: 20px 0; }

.p-top__link {
  background: #fff;
  color: #111;
  float: right;
  margin-right: 5px;
  padding: 0 5px;
  position: relative;
  text-decoration: none;
  top: -0.725rem; }

.p-navigation {
  background-color: #333;
  display: flex;
  flex-shrink: 0;
  position: relative;
  z-index: 10; }
  @media (max-width: 772px) {
    .p-navigation {
      flex-direction: column; } }
  .p-navigation a,
  .p-navigation a:visited,
  .p-navigation a:focus {
    color: #f7f7f7;
    text-decoration: none; }
  .p-navigation a:hover {
    color: #757575;
    text-decoration: none; }
  .p-navigation::after {
    background: #333;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0; }
  .p-navigation__banner {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between; }
  .p-navigation__image {
    align-self: center;
    max-height: 2rem;
    min-height: 1.5rem; }
  @media (min-width: 772px) {
    .p-navigation__link {
      max-width: 20em; } }
  .p-navigation__link > a {
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 772px) {
      .p-navigation__link > a {
        padding: 0.75rem 1.5rem; }
        .p-navigation__link > a::before {
          background: #f7f7f7;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
          top: 0; } }
    @media (min-width: 773px) {
      .p-navigation__link > a {
        padding: 0.75rem 1rem; }
        .p-navigation__link > a::before {
          background: #333;
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          right: 0; } }
    .p-navigation__link > a:hover {
      color: #757575; }
  @media (max-width: 772px) {
    .p-navigation__link:first-child > a::before {
      background: #333; } }
  .p-navigation__link.is-selected > a {
    color: #757575; }
  .p-navigation__links {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (max-width: 772px) {
      .p-navigation__links {
        margin-top: -1px; } }
    @media (min-width: 773px) {
      .p-navigation__links {
        display: flex;
        flex-wrap: wrap; } }
  .p-navigation__logo {
    display: flex;
    flex: 0 0 auto;
    height: 3rem;
    margin: 0 1rem 0 1.5rem; }
    .p-navigation__logo .p-navigation__link {
      display: flex; }
  .p-navigation__nav {
    display: none; }
    @media (max-width: 772px) {
      .p-navigation__nav {
        flex-direction: column; } }
    @media (min-width: 773px) {
      .p-navigation__nav {
        display: flex;
        justify-content: space-between;
        width: 100%; } }
  .p-navigation .p-search-box {
    min-width: 10em; }
    @media (max-width: 772px) {
      .p-navigation .p-search-box {
        flex: 1 0 auto;
        margin: -1px 1.5rem 0.5rem 1.5rem;
        order: -1; } }
    @media (min-width: 773px) {
      .p-navigation .p-search-box {
        display: flex;
        flex: 1 1 auto;
        margin: 0.35rem 1rem auto auto;
        max-width: 20rem;
        order: 1; } }
  .p-navigation__row,
  .p-navigation .row {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    @media (max-width: 772px) {
      .p-navigation__row,
      .p-navigation .row {
        flex-direction: column; } }
  .p-navigation:target::after {
    display: none; }
  .p-navigation:target .p-navigation__nav {
    display: flex; }
  .p-navigation:target .p-navigation__toggle--open {
    display: none; }
  @media (max-width: 772px) {
    .p-navigation:target .p-navigation__toggle--close {
      display: block; } }
  .p-navigation__toggle--open, .p-navigation__toggle--close {
    display: none;
    margin: 0 1.5rem auto 1rem;
    padding: 0.75rem 0; }
  @media (max-width: 772px) {
    .p-navigation__toggle--open {
      display: block; } }
  .p-navigation .u-image-position .u-image-position--right {
    order: 2;
    position: relative;
    right: unset; }

.p-subnav__items {
  border-radius: 0.125rem; }

.p-subnav__items {
  box-shadow: 0 1px 5px 1px rgba(17, 17, 17, 0.2); }

.p-subnav__items {
  border: 1px solid #cdcdcd; }

.p-subnav {
  position: relative; }
  .p-subnav::after {
    background-image: url("data:image/svg+xml, %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='chevron_down' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='chevron' fill='%23666' transform='translate(8.000000, 8.193853) rotate(90.000000) translate(-8.000000, -8.193853) ' points='4.80614657 14.3333333 8.64539007 8.17730496 4.80614657 2.05437352 6.16312057 1.19385343 11.1938534 8.17730496 6.16312057 15.1938534'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    text-indent: calc(100% + 10rem);
    top: 1rem;
    width: 1rem; }
  .p-subnav.is-active::after {
    transform: rotate(180deg); }
  .p-subnav.is-active .p-subnav__items {
    display: block; }
  .p-subnav > a {
    padding-right: 2.5rem; }

.p-subnav__items {
  display: none;
  margin: 0;
  padding: 0;
  z-index: 5; }
  @media (min-width: 773px) {
    .p-subnav__items {
      clip: rect(0, 1000px, 1000px, -10px);
      /* Clip the top of the box-shadow off */
      position: absolute;
      top: calc(3rem - 1px); } }
  @media (max-width: 772px) {
    .p-subnav__items {
      border: 0;
      box-shadow: none; } }

.p-subnav__item {
  background-color: #333;
  display: block;
  padding: 0.75rem 1.5rem;
  white-space: nowrap; }

.p-navigation__links:last-child {
  margin-right: 1.5rem; }
  .p-navigation__links:last-child .p-subnav__items {
    right: 0; }

.p-subnav__items {
  border-color: #333; }
