.buildStatus {
  padding-left: 5px;
}

.buildStatus::before {
  content: '';
  display: block;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.buildStatus.success::before {
  background-color: $success;
}

.buildStatus.error::before {
  background-color: $error;
}

.buildStatus.pending::before {
  background-color: $warning;
}

.buildStatus.success,
.buildStatus.success a {
  color: $success;
}

.buildStatus.error,
.buildStatus.error a {
  color: $error;
}

.buildStatus.pending,
.buildStatus.pending a {
  color: $warning;
}

.buildDate {
  float: right;
}
