.buildStatus.green,
.buildStatus.green a {
  color: $success;
}

.buildStatus.red,
.buildStatus.red a {
  color: $error;
}

.buildStatus.yellow,
.buildStatus.yellow a {
  color: $warning;
}

.buildStatus.grey,
.buildStatus.grey a {
  color: $dark-grey;
}

.buildDate {
  float: right;
}
