# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

[Unit]
Description=Build snaps from GitHub repositories

[Service]
Type=simple
Environment='SESSION_SECRET={{ session_secret }}'
Environment='LOGS_PATH={{ logs_path }}'
Environment='MEMCACHED_HOST={{ cache_hosts | join(",") }}'
Environment='MEMCACHED_SESSION_SECRET={{ memcache_session_secret }}'
Environment='SENTRY_DSN={{ sentry_dsn }}'
Environment='LP_API_USERNAME={{ lp_api_username }}'
Environment='LP_API_CONSUMER_KEY={{ lp_api_consumer_key }}'
Environment='LP_API_TOKEN={{ lp_api_token }}'
Environment='LP_API_TOKEN_SECRET={{ lp_api_token_secret }}'
Environment='GITHUB_AUTH_CLIENT_ID={{ github_auth_client_id }}'
Environment='GITHUB_AUTH_CLIENT_SECRET={{ github_auth_client_secret }}'
Environment='GITHUB_WEBHOOK_SECRET={{ github_webhook_secret }}'
Environment='KNEX_CONFIG_PATH={{ knex_config_path }}'
Environment='HTTP_PROXY={{ http_proxy }}'
Environment='TRUSTED_NETWORKS={{ trusted_networks | join(",") }}'
WorkingDirectory={{ working_dir }}
User={{ user }}
ExecStart=/usr/bin/npm run start-build -- --env=environments/{{ environment }}.env
Restart=on-failure
RestartSec=15 5

[Install]
WantedBy=multi-user.target
