$login-colour: $dark-grey;

.container {
  composes: container from '../../containers/container.css';
  display: flex;
  margin:2rem 0;
}

.avatar {
  margin-right: 1.5em;
}

.avatar > img {
  height: 115px;
  width: 115px;
  display: block;
  border-radius: 60px;
}

.headings h1, .headings h3 {
  margin: 0;
}

.login {
  color: $login-colour;
}
