.strip {
  font-size: 0.8rem;
  background-color: $light-grey;
  padding: 16px;
}

.cli {
  font-family: "Ubuntu-mono", monospace;
  border:1px solid #ccc;
  padding: 5px 10px;
  display:inline-block;
  margin-bottom: 1rem;
}

.p {
  margin-bottom: 1rem;
}
