.wrapper {
  box-sizing: border-box;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  composes: wrapper;
  padding: 10px;
  margin-bottom: 60px;
}

.spinner {
  width: 20px;
  margin: 5px auto;
}

.lightStrip {
  background-color: $light-grey;
  padding: 2rem 0;
  width: 100%;
  clear: both;
  position: relative;
}
