.wrapper {
  box-sizing: border-box;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0;
}

.container {
  composes: wrapper;
  padding: 10px;
  margin-bottom: 60px;
}

.spinner {
  width: 20px;
  margin: 5px auto;
}

.strip {
  clear: both;
  padding: 2rem 0;
  position: relative;
  width: 100%;
}

.lightStrip {
  composes: strip;
  background-color: $light-grey;
}
