.wrapper {
  box-sizing: border-box;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 1.25rem;
  width: 100%;
}

.container {
  composes: wrapper;
  margin-bottom: 60px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.spinner {
  width: 20px;
  margin: 5px auto;
}

.strip {
  clear: both;
  padding: 2rem 0;
  position: relative;
  width: 100%;
}

.lightStrip {
  composes: strip;
  background-color: $light-grey;
}

.repoHeading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
}

.rowItem {
  display: flex;
  flex: 1;
  margin-right: 20px;
}

.rowItem:last-child {
  margin-right: 0;
}

.buildOnDemand {
  display: flex;
  justify-content: flex-end;
}
