.container {
  composes: container from './container.css';
  margin-top: 2em;
  font-size: 1.2em;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0 30px;
}

.bannerImage {
  width: 960px;
  margin-bottom: 2em;
}

.bannerImage img {
  display: block;
  width: 100%;
}

.bannerLabel {
  text-align: center;
  font-size: 1.5em;
  width: 30%;
}

.bannerButton {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,50%);
}

.workflowImage {
  display: block;
  max-width: 100%;
  margin-bottom: 60px;
}

.centeredButton {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.rowItem {
  margin-left: 20px;
}

.rowItem:first-child {
  margin-left: 0;
}

.rowItemGrow {
  composes: rowItem;
  flex-grow: 1;
}

.rowItemTwoThirds {
  composes: rowItem;
  width: 66.66%;
}

.brandLogo {
  composes: rowItem;
  max-width: 150px;
  max-height: 100px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px dotted $dark-grey;
}

.section:last-child {
  border-bottom: none;
}

.snaps {
  margin-bottom: 2em;
}
