.container {
  composes: container from './container.css';
  margin-top: 2em;
  font-size: 1.2em;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0 30px;
}

.bannerImage {
  width: 920px;
  margin-bottom: 2em;
}

.bannerImage img {
  display: block;
  width: 100%;
}

.bannerLabel {
  text-align: center;
  font-size: 1.5em;
  width: 30%;
}

.bannerButton {
  margin-bottom: 4em;
}

.centeredButton {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.rowItem {
  margin-left: 20px;
}

.rowItem:first-child {
  margin-left: 0;
}

.rowItemGrow {
  composes: rowItem;
  flex-grow: 1;
}

.rowItemFull {
  composes: rowItem;
   flex: 0 0 100%;
}

.rowItemOneThird {
  composes: rowItem;
  width: 33.33%;
  border-right: 1px #ccc dotted;
  position: relative;
  padding-bottom: 2rem;
}

.rowItemOneThird:last-child {
  border: none;
}

.rowItemTwoThirds {
  composes: rowItem;
  width: 66.66%;
}

.brandLogo {
  composes: rowItem;
  max-width: 150px;
  max-height: 100px;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px dotted $dark-grey;
}

.section:last-child,
.sectionNoBorder {
  border-bottom: none;
}

.snaps {
  margin-bottom: 2em;
}

.centeredText {
  text-align: center;
}

.external {
  background: url($icon-link-external) 100% 0 no-repeat;
  background-size: 0.7em;
  padding-right: 0.9em;
}
